.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

div.calculate-error {
  color: rgba(255, 60, 0, 0.904);
}

.response-container {
  margin-top: 5px;
  padding: 10px;
}